registry=https://pkgs.dev.azure.com/1aauto/Technology/_packaging/1aauto/npm/registry/ 
# @myscope:registry=https://pkgs.dev.azure.com/1aauto/Technology/_packaging/1aauto/npm/registry/
always-auth=true

; begin auth token
//pkgs.dev.azure.com/1aauto/Technology/_packaging/1aauto/npm/registry/:username=1aauto
//pkgs.dev.azure.com/1aauto/Technology/_packaging/1aauto/npm/registry/:_password=c2tseGRobWRzMmFrcW55b3hhd3BjMmliMzMyZHZ1dWM0dndwaDJ4Mjd0NHd3amg0NWlucQ==
//pkgs.dev.azure.com/1aauto/Technology/_packaging/1aauto/npm/registry/:email=atereschenko@1aauto.inc
//pkgs.dev.azure.com/1aauto/Technology/_packaging/1aauto/npm/:username=1aauto
//pkgs.dev.azure.com/1aauto/Technology/_packaging/1aauto/npm/:_password=c2tseGRobWRzMmFrcW55b3hhd3BjMmliMzMyZHZ1dWM0dndwaDJ4Mjd0NHd3amg0NWlucQ==
//pkgs.dev.azure.com/1aauto/Technology/_packaging/1aauto/npm/:email=atereschenko@1aauto.inc
; end auth token

; sklxdhmds2akqnyoxawpc2ib332dvuuc4vwph2x27t4wwjh45inq